.formHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}

.usernameInput {
  width: 85vw;
  height: 50px;
  font-size: 25px;
  border: 1px solid black;
  border-radius: 5px;
}

.searchButton {
  width: 85vw;
  margin-top: 20px;
  height: 40px;
  background-color: deepskyblue;
  border-radius: 5px;
  font-size: medium;
  color: white;
}

.searchButton:hover {
  transform: scale(1.1);
}
.clearButton {
  width: 85vw;
  margin-top: 20px;
  height: 40px;
  background-color: red;
  border-radius: 5px;
  font-size: medium;
  color: black;
}

.clearButton:hover {
  transform: scale(1.1);
}
