.card {
  width: 200px;
  height: 300px;
  margin: 50px 10px;
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 9px;
}

.user-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.user-profile-url {
  display: block;
}
